/* Variables Document */
//Colours
$white: #fff;
$blue: #35aedb;
$green: #1CBC2C;
$orange: #EF5F3C;
$black: #424242;
$dark-grey: #424242;
$grey: #d7d7d7;
$light-grey: #eaeaea;
$white: #fff;
//Screen Sizes
$ls-mobile: 37.5em; //600px
$tablet: 48em; //768px
$ls-tablet: 64em; //1024px
$laptop: 90em; //1440px
//Font-Sizes
$fs-body: 0.9em;
$fs-small: 1.35em;
$fs-reg: 1.75em;
$fs-large: 2.8125em;
$fs-head: 3.75em;