// Content SCSS
.container { padding: 0 0 $sml-pad;
  .lean { width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center; align-content: flex-start;
    .lean_left, .lean_right { display: inline;
      p { text-align: justify; }
      h1 { width: 100%; text-shadow: 2px 2px 2px rgba(173,169,183,0); }
    }
    .lean_left { order: 1; }
    .lean_right { order: 2; }
  }
}
.container:last-of-type { padding-bottom: 0; }
.progress { position: relative;
  svg { height: auto; width: 100%; }
  span { position: absolute; text-align: center; left: 0%; right: 0%; top: 50%; font-size: $fs-reg; font-family: $ff-reg; }
}
.opacity { display: none; transition: all ease 6s; }
.trgr__container { display: block; margin: auto auto 7em; text-align: center; height: 5em;
  .trgr {height: auto; @include grid(6, 2.5%); float: left;
    @include respond($tablet){ @include grid(3, 2.5%); margin: 1em auto; }
    @include respond($ls-mobile){ @include grid(2, 2.5%); }
    img { width: 5em; height: auto;
      @include respond($tablet){ width: 3em; }
      @include respond($ls-mobile){ margin: 1em 0; }
    }
  }
}
.trgr__box { text-align: center; margin: auto; }
.main__spalsh { background-color: $white; height: 100%; min-height: 100vh; width: 100%; position: absolute; z-index: 5; top: 0; left: 0; transition: all ease 2s;
  img { background-color: $grey; border-radius: 50%; margin: auto; margin-top: 2em; display: block; }
  h1, span, a { text-decoration: none; transition: all ease .6s; text-align: center; display: block; }
  h1 { font-size: $fs-large; color: $blue; margin: 0.5em auto 0; }
  span, a, p { font-size: $fs-reg; margin: 0.5em auto; display: block; }
  span { color: $blue; }
  p { color: $red; text-align: center; }
  a { color: $green; }
  &.clicked { background-color: transparent; transition: all ease 2s;
    h1, span, a, p { display: none; color: transparent; transition: all ease 2s; }
    img { height: 10em; margin-top: 1em; transition: all ease 2s; }
  }
}
.my__pic { @include respond($ls-mobile){
  margin-top: 2em;
}
  img { border-radius: 1em; }
}
